:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --pop: hsl(245, 83%, 68%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --font-family: 'Red Hat Display', sans-serif;
}

body {
    box-sizing: border-box;
}

main {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card,
.hero img {
    width: 327px;
    border-radius: 20px 20px 0 0;
}

.card {
    height: 567px;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}

.card--header {
    color: var(--dark-blue);
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 900;
    margin-top: 32px;
}

.card--text {
    color: var(--desaturated-blue);
    font-weight: 500;
    font-size: 15px;
    font-family: var(--font-family);
    line-height: 25px;
    margin-top: 1.5em;
    margin: 16px 32px 24px 32px;
}

.sub-plan {
    background-color: var(--very-pale-blue);
    border-radius: 11px;
    margin: 24px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan {
    margin-left: -20px;
}

.plan--header {
    font-size: 14px;
    font-family: var(--font-family);
    color: var(--dark-blue);
    font-weight: 900;
}

.plan--cost {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    color: var(--desaturated-blue);
    margin-top: .4em;
}

.plan--change a {
    color: var(--bright-blue);
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 700;
}

.payment-btn {
    background-color: var(--bright-blue);
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.12);
    color: #fff;
    border-radius: 11px;
    padding: 1em 0;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 15px;
    margin: 24px;
}

.cancel-order-btn {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 15px;
    color: var(--desaturated-blue);
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    font-family: var(--font-family);
    position: absolute;
    bottom: 20px;
}
.attribution a { 
    color: var(--bright-blue); 
}

@media only screen and (min-width: 376px) {
    main {
        background-image: url(./images/pattern-background-desktop.svg);
    }

    .card,
    .hero img {
        width: 450px;
    }

    .card {
        height: 697px;
    }

    .card--header {
        margin: 46px 48px 17px 48px;
        font-size: 28px;
        line-height: 37px;
    }

    .card--text {
        margin: 17px 48px 20px 48px;
        font-size: 16px;
        line-height: 26px;
    }
    
    .sub-plan {
        margin: 20px 48px 32px 48px;
    }

    .plan {
        margin-left: -50px;
    }

    .plan--header {
        font-size: 16px;
        font-weight: 900;
        line-height: 21.17px;
    }

    .plan--cost {
        font-size: 16px;
        font-weight: 500;
        line-height: 21.17px;
    }

    .plan--change {
        font-size: 14px;
        line-height: 19px;
    }

    .plan--change a:hover {
        color: var(--pop);
    }

    .payment-btn {
        margin: 32px 48px 32px 48px;
        padding: 15px;
    }

    .payment-btn:hover {
        background-color: #766cf1;
    }

    .cancel-order-btn:hover {
        color: var(--dark-blue);
    }
}